@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  background-color: #f5f5f5;
}

@media only screen and (max-width: 600px) {
  * {
    font-size: 10px;
  }
}
.u-text-align-center {
  text-align: center;
}

.u-text-align-justify {
  text-align: justify;
}

.u-text-align-left {
  text-align: left;
}

.u-text-align-right {
  text-align: right;
}

.card {
  background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
  flex-grow: 1;
  width: 240px;
  max-width: 240px;
  height: 420px;
  overflow: hidden;
  display: block;
  position: relative;
  isolation: isolate;
  color: #fcfdfe;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-radius: 8px;
  transition: all 0.3s ease;
  border: 0;
  @import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Anton&family=Fascinate&display=swap");
}
.card:hover, .card:focus {
  box-shadow: 0 8px 11px 1px rgba(0, 0, 0, 0.1), 0 3px 14px 2px rgba(0, 0, 0, 0.1), 0 2px 0 -3px rgba(0, 0, 0, 0.1);
  z-index: 2;
  transition: all 0.5s ease;
}
.card__boton-mas-menos {
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  transition: 3000ms all ease;
  margin-top: 0.5em;
}
.card__description {
  font-size: 12px;
}
.card__heading {
  margin-top: 0.5em;
  font-size: 16px;
  font-family: "Anton", sans-serif;
}
.card__image {
  background-size: cover;
  height: 244px;
  background-position: center;
  transition: all 0.2s;
}
.card:hover .card__image {
  transform: scale(1.1) rotate(0deg);
  transition-delay: 0s;
}
.card__content {
  position: absolute;
  bottom: 0;
  padding: 0em 1em 0em 0.5em;
  height: 175px;
  width: 100%;
  z-index: -1;
  transition: all 0.2s;
  color: #333;
}
.card__content {
  background-color: #fcfdfe;
  color: #333;
}
.card:hover .card__precio {
  box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.887);
  -webkit-box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.887);
  -moz-box-shadow: 0px 0px 8px -2px rgba(0, 0, 0, 0.887);
  z-index: 3;
  border: none;
}
.card__precio {
  color: #333;
  text-align: center;
  padding: 0.3em;
  margin-top: 0.8em;
  border-top: #59BFF6 solid 1.5px;
  border-bottom: #59BFF6 solid 1.5px;
}
.card__precio > p:nth-child(3) {
  font-size: 10px;
}
.card__precio > p:nth-child(2) {
  font-family: "Abril Fatface", cursive;
  font-size: 15px;
  font-weight: bold;
}
.card__precio > p:nth-child(1) {
  font-size: 8px;
}
.card__stock {
  display: flex;
  margin: 0.3em 4em;
  justify-content: center;
  color: #4caf50;
  border-radius: 4px;
  font-size: 10px;
}
.card:nth-child(10n+1) {
  background-image: linear-gradient(to top, #b429f9, #26c5f3);
}
.card:nth-child(10n+2) {
  background-image: linear-gradient(to top, #af1239, #cce269);
}
.card:nth-child(10n+3) {
  background-image: linear-gradient(to top, #0b3866, #3ddab2);
}
.card:nth-child(10n+4) {
  background-image: linear-gradient(to top, #f40752, #7c65a9);
}
.card:nth-child(10n+5) {
  background-image: linear-gradient(to top, #1c3b41, #69d449);
}
.card:nth-child(10n+6) {
  background-image: linear-gradient(to top, #0a5df8, #ed2d53);
}
.card:nth-child(10n+7) {
  background-image: linear-gradient(to top, #661069, #30d26e);
}
.card:nth-child(10n+8) {
  background-image: linear-gradient(to top, #702b19, #cec360);
}
.card:nth-child(10n+9) {
  background-image: linear-gradient(to top, #034a66, #ced11a);
}
.card:nth-child(10n+10) {
  background-image: linear-gradient(to top, #ec458d, #474ed7);
}

.section-carrito {
  padding: 1em;
  position: fixed;
  background-color: #fff;
  top: 150px;
  bottom: 150px;
  left: 50px;
  right: 50px;
  z-index: 1;
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.3);
  display: none;
}
.section-carrito--open {
  display: grid;
  z-index: 3;
}
.section-carrito--open table {
  border-collapse: collapse;
  border-radius: 2px;
  text-align: center;
  margin-bottom: 3em;
}
.section-carrito--open table caption {
  font-family: Roboto;
  margin-bottom: 2em;
  font-weight: bolder;
  font-size: large;
}
.section-carrito--open table td {
  border-collapse: collapse;
  border: solid 1px #333;
}
.section-carrito--open table th {
  width: 10em;
  border: solid 1px #333;
  background-color: #59BFF6;
}
.section-carrito--open table tr {
  width: 10em;
}
.section-carrito--open table tr:nth-of-type(1) > th {
  height: 4em;
}
.section-carrito--open .btn__enviarCarrito:last-child {
  width: 150px;
  height: 70px;
  margin: auto;
}

.wrapper {
  width: 4vw;
  height: 6vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.close-button > div {
  position: relative;
}
.close-button-block {
  width: 40px;
  height: 20px;
  position: relative;
  overflow: hidden;
}
.close-button-block:before, .close-button-block:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: calc(55% - 4px);
  display: block;
  width: 4px;
  height: 25px;
  transform-origin: bottom center;
  background: #333;
  transition: all ease-out 280ms;
}
.close-button-block:last-of-type {
  transform: rotate(180deg);
}
.close-button .in .close-button-block:before {
  transition-delay: 280ms;
  transform: translateX(20px) translateY(-20px) rotate(45deg);
}
.close-button .in .close-button-block:after {
  transition-delay: 280ms;
  transform: translateX(-22px) translateY(-22px) rotate(-45deg);
}
.close-button .out {
  position: absolute;
  top: 0;
  left: 0;
}
.close-button .out .close-button-block:before {
  transform: translateX(-5px) translateY(5px) rotate(45deg);
}
.close-button .out .close-button-block:after {
  transform: translateX(5px) translateY(5px) rotate(-45deg);
}
.close-button:hover .in .close-button-block:before {
  transform: translateX(-5px) translateY(5px) rotate(45deg);
}
.close-button:hover .in .close-button-block:after {
  transform: translateX(5px) translateY(5px) rotate(-45deg);
}
.close-button:hover .out .close-button-block:before {
  transform: translateX(-20px) translateY(20px) rotate(45deg);
}
.close-button:hover .out .close-button-block:after {
  transform: translateX(20px) translateY(20px) rotate(-45deg);
}

.container-medios {
  display: flex;
  justify-content: center;
  background-color: #59BFF6;
  color: #333;
  padding: 1.5em 0 1.5em 0;
  height: 300px;
}
.container-medios__imagen {
  width: 50px;
  height: 50px;
  margin-bottom: 1em;
}
.container-medios__pago, .container-medios__envio, .container-medios__seguridad {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 33%;
}

.container-medios span {
  padding: 3em;
  margin: 0 auto;
}

.container-medios img {
  color: #fff;
}

.container-medios h2 {
  padding: 1em 0;
}

@media (max-width: 960px) {
  .container-medios {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 2em;
    background-color: #fff;
    color: #333;
    align-items: center;
    height: 800px;
  }

  .container-medios__pago, .container-medios__envio, .container-medios__seguridad {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
  }

  .container-medios__pago:hover,
.container-medios__envio:hover,
.container-medios__seguridad:hover {
    transition: 400ms all;
    transform: none;
  }
}
.ofertas-containers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
  width: 100%;
}

.ofertas-countainer:nth-child(1) {
  background-image: url(../../img/productos-ofertas/apple-iphone-11-pro-max.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

.ofertas-countainer:nth-child(2) {
  background-image: url(../../img/productos-ofertas/sony-playstation-5.jpg);
  background-size: cover;
  /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

.ofertas-countainer:nth-child(3) {
  background-image: url(../../img/productos-ofertas/drone-dji.jpg);
  background-size: cover;
  /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

.ofertas-countainer:nth-child(4) {
  background-image: url(../../img/productos-ofertas/auriculares-sony.jpg);
  background-size: cover;
  /* Chrome, Safari, Opera */
  filter: grayscale(100%);
}

.ofertas h2 {
  text-align: center;
  margin-bottom: 2.5em;
}

.ofertas-countainer {
  margin: 20px;
  height: 280px;
  text-align: center;
  justify-content: center;
  width: 290px;
  transform-style: preserve-3d;
  perspective: 1000px;
  font-family: "Roboto", sans-serif;
  -webkit-clip-path: polygon(9% 0, 100% 0%, 91% 100%, 0% 100%);
          clip-path: polygon(9% 0, 100% 0%, 91% 100%, 0% 100%);
}

.ofertas-countainer:hover {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}

.ofertas {
  height: 600px;
  background-color: #000000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%230b262b' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23164c57' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23207282' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%232b98ae' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%2336BED9' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.text-paralax {
  transform: translateZ(30px);
}

.text-ofertas {
  font-size: 3vh;
  color: #1E2125;
  box-sizing: border-box;
}

.text-paralax > p, h4 {
  visibility: hidden;
  padding-top: 1em;
  text-align: center;
}

.text-paralax > h4 {
  color: #fff;
}

.text-paralax > p {
  margin: 0 auto;
  display: inline-block;
  padding-top: 2em 2em 0.5em 2em;
}

.ofertas-countainer:hover p, h4 {
  visibility: visible;
}

.ofertas-countainer:hover {
  transition: 0.3s;
  border-radius: 1px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.ofertas-countainer:nth-child(1):hover {
  background-color: #36bed9;
  z-index: 3;
  transition: 0.5s;
  color: #fe9141;
  border-radius: 2px;
  filter: none;
}

.ofertas-countainer:nth-child(2):hover {
  transition: 1s;
  color: #36bed9;
  border-radius: 2px;
  filter: none;
}

.ofertas-countainer:nth-child(2):hover p {
  transition: 0.5s;
  color: #36bed9;
  filter: none;
}

.ofertas-countainer:nth-child(3):hover {
  transition: 0.5s;
  color: #F0DB4F;
  border-radius: 2px;
  filter: none;
}

.ofertas-countainer:nth-child(4):hover {
  transition: 0.5s;
  color: #8EC74E;
  border-radius: 2px;
  filter: none;
}

.ofertas-countainer:nth-child(5):hover {
  transition: 0.5s;
  color: #7D3E6A;
  border-radius: 2px;
  filter: none;
}

.ofertas-countainer img {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 200px;
  height: 200px;
  border-radius: 4px;
  -webkit-clip-path: polygon(100% 0, 100% 0%, 0 100%, 1% 100%);
          clip-path: polygon(100% 0, 100% 0%, 0 100%, 1% 100%);
}

.ofertas-countainer img:hover {
  transition: 400ms all;
  -webkit-clip-path: polygon(0 0, 97% 0, 100% 100%, 4% 100%);
          clip-path: polygon(0 0, 97% 0, 100% 100%, 4% 100%);
  transform: scale(1.1) rotate(0deg);
}

.ofertas-countainer > span {
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  visibility: hidden;
}

.ofertas-countainer:nth-child(1) > span:nth-child(1) {
  background-image: url(../../img/productos-ofertas/LabelOffer005HQ-01-PhotoRoom.png);
}

.ofertas-countainer:nth-child(2) > span:nth-child(1) {
  background-image: url(../../img/productos-ofertas/LabelOffer005HQ-01-PhotoRoom2.png);
  width: 90%;
  height: 90%;
  margin-top: 1.5em;
}

.ofertas-countainer:nth-child(3) > span:nth-child(1) {
  background-image: url(../../img/productos-ofertas/LabelOffer005HQ-01-PhotoRoom3.png);
  width: 90%;
  height: 90%;
  margin-top: 1.3em;
  margin-left: 1.5em;
}

.ofertas-countainer:nth-child(4) > span:nth-child(1) {
  background-image: url(../../img/productos-ofertas/LabelOffer005HQ-01-PhotoRoom.png);
}

.ofertas-countainer:hover > span {
  visibility: inherit;
  transition: all 4s;
}

@media (max-width: 960px) {
  .ofertas-countainer:hover > span {
    visibility: inherit;
    transition: all 4s;
  }
}
@media (max-width: 1210px) {
  .ofertas {
    height: 800px;
  }
}
@media (max-width: 820px) {
  .ofertas {
    height: 1200px;
  }
}
@media (max-width: 620px) {
  .ofertas-containers {
    flex-direction: row;
    gap: 4em;
  }

  .ofertas {
    height: 1800px;
  }

  .text-paralax > p, h4 {
    visibility: hidden;
    padding-top: 1em;
    text-align: center;
  }

  .text-paralax > h4 {
    font-size: 10px;
  }

  .text-paralax > p {
    font-size: 12px;
  }
}
.volver-inicio {
  cursor: pointer;
  text-decoration: none;
  color: aqua;
}

.volver-inicio a {
  text-decoration: none;
  color: lightblue;
}

.volver-inicio p {
  text-decoration: none;
  color: #e1e4e5;
}

.buttom-volver {
  background-color: #e1e4e5;
  display: flex;
  flex-direction: row-reverse;
  padding: 1.3em;
}

.buttom-volver p {
  text-decoration: none;
  color: #e1e4e5;
}

button {
  background-color: #59BFF6;
  border-radius: 10px;
  border: solid #e1e4e5 1px;
  padding: 1.2em;
  cursor: pointer;
  color: #fff;
}

#boton-buscar {
  border-top: 2.5px solid #01001A;
  border-right: 2.5px solid #01001A;
  border-bottom: 2.5px solid #01001A;
  border-left: 2.5px solid #fff;
  background-color: #fff;
  border-radius: 0px 10px 10px 0px;
  font-size: 15px;
  color: #01001A;
}

#boton-buscar:hover {
  color: #F66F58;
}

#boton-carrito {
  background-color: #01001A;
  width: 60px;
  font-size: 15px;
  color: #fff;
  height: 49px;
}

#boton-carrito:hover {
  background-color: #F66F58;
}

#boton-fav {
  background-color: #fff;
  color: yellowgreen;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 8px;
}

#boton-fav:hover {
  background-color: #01001A;
  color: #fff;
  border: none;
}

#boton-mas, #boton-menos {
  color: #fff;
  width: 40px;
  height: 40px;
  font-size: 8px;
  font-weight: bolder;
}

#boton-carr {
  color: rgb(191, 191, 191);
  background-color: #fff;
  border: none;
  width: 40px;
  height: 40px;
  font-size: 18px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
}

#boton-carr:hover {
  color: #e1e4e5;
  background-color: #59BFF6;
  width: 40px;
  height: 40px;
  font-size: 18px;
  font-weight: bolder;
}

#boton-mas:hover, #boton-menos:hover {
  background-color: #F66F58;
}

button:hover {
  background-color: #F66F58;
  color: #e1e4e5;
  border: #F66F58;
}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Image */
.mySlides img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #59BFF6;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@media (min-width: 670px) {
  .slideshow-container {
    height: 400px;
    min-width: 240px;
  }

  .slideshow-container img {
    height: 400px;
    min-width: 240px;
    -o-object-fit: fill;
       object-fit: fill;
  }
}
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1750px);
  }
}
.slider {
  background: #f5f5f5;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 140px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  gap: 1.2em;
}
.slider img {
  padding-top: 2em;
  height: 130px;
  padding-left: 4.5em;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 210px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 40s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: 3500px;
}
.slider .slide {
  height: 210px;
  width: 250px;
}

.active {
  font-weight: bold;
}

.container-video {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.container-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contenedor-suscripcion {
  width: 90%;
  max-width: 1000px;
  margin: 20px auto;
  height: 270px;
}

.contenedor-suscripcion article {
  line-height: 28px;
}

.contenedor-suscripcion article h1 {
  font-size: 30px;
  text-align: center;
  padding: 50px 0;
  font-family: Roboto;
}

.contenedor-suscripcion article p {
  margin-bottom: 20px;
}

.contenedor-suscripcion article .btn-abrir-popup {
  display: block;
  margin: auto;
  padding: 0 20px;
  margin-bottom: 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #59BFF6;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease all;
  cursor: pointer;
}

.contenedor-suscripcion article .btn-abrir-popup:hover {
  background: rgba(94, 125, 227, 0.9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */
.overlay {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  z-index: 3;
}

.overlay.active {
  visibility: visible;
}

.popup {
  background: #F8F8F8;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  text-align: center;
  width: 600px;
  transition: 0.3s ease all;
  transform: scale(0.7);
  opacity: 0;
}

.popup .btn-cerrar-popup {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  transition: 0.3s ease all;
  color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
  color: #000;
}

.popup h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: 0;
}

.popup h4 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 40px;
  opacity: 0;
}

.popup form .contenedor-suscripcion-inputs {
  opacity: 0;
}

.popup form .contenedor-suscripcion-inputs input {
  width: 100%;
  margin-bottom: 20px;
  height: 52px;
  font-size: 18px;
  line-height: 52px;
  text-align: center;
  border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #5E7DE3;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.popup form .btn-submit:hover {
  background: rgba(94, 125, 227, 0.9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {
  transform: scale(1);
  opacity: 1;
}

.popup.active h3 {
  -webkit-animation: entradaTitulo 0.8s ease 0.5s forwards;
          animation: entradaTitulo 0.8s ease 0.5s forwards;
}

.popup.active h4 {
  -webkit-animation: entradaSubtitulo 0.8s ease 0.5s forwards;
          animation: entradaSubtitulo 0.8s ease 0.5s forwards;
}

.popup.active .contenedor-suscripcion-inputs {
  -webkit-animation: entradaInputs 1s linear 1s forwards;
          animation: entradaInputs 1s linear 1s forwards;
}

@-webkit-keyframes entradaTitulo {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes entradaTitulo {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes entradaSubtitulo {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes entradaSubtitulo {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes entradaInputs {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes entradaInputs {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.contenedor-suscripcion {
  width: 90%;
  margin: 20px auto;
}

.contenedor-suscripcion article {
  line-height: 28px;
}

.contenedor-suscripcion article h1 {
  font-size: 30px;
  text-align: center;
  padding: 50px 0;
  font-family: Roboto;
}

.contenedor-suscripcion article p {
  margin-bottom: 20px;
}

.contenedor-suscripcion article .btn-abrir-popupAyuda {
  display: block;
  margin: auto;
  padding: 0 20px;
  margin-bottom: 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #59BFF6;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease all;
  cursor: pointer;
}

.contenedor-suscripcion article .btn-abrir-popupAyuda:hover {
  background: rgba(94, 125, 227, 0.9);
}

/* ------------------------- */
/* POPUP */
/* ------------------------- */
.overlayAyuda {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  z-index: 3;
}

.overlayAyuda.active {
  visibility: visible;
}

.popupAyuda {
  background: #F8F8F8;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  padding: 20px;
  text-align: center;
  width: 600px;
  transition: 0.3s ease all;
  transform: scale(0.7);
  opacity: 0;
}

.popupAyuda .btn-cerrar-popupAyuda {
  font-size: 16px;
  line-height: 16px;
  display: block;
  text-align: right;
  transition: 0.3s ease all;
  color: #BBBBBB;
}

.popupAyuda .btn-cerrar-popupAyuda:hover {
  color: #000;
}

.popupAyuda h3 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  opacity: 0;
}

.popupAyuda h4 {
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 40px;
  opacity: 0;
}

.popupAyuda form .contenedor-suscripcion-inputs {
  opacity: 0;
}

.popupAyuda form .contenedor-suscripcion-inputs input {
  width: 100%;
  margin-bottom: 20px;
  height: 52px;
  font-size: 18px;
  line-height: 52px;
  text-align: center;
  border: 1px solid #BBBBBB;
}

.popupAyuda form .btn-submit {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  border: none;
  color: #fff;
  background: #5E7DE3;
  border-radius: 3px;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s ease all;
}

.popupAyuda form .btn-submit:hover {
  background: rgba(94, 125, 227, 0.9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popupAyuda.active {
  transform: scale(1);
  opacity: 1;
}

.popupAyuda.active h3 {
  -webkit-animation: entradaTitulo 0.8s ease 0.5s forwards;
          animation: entradaTitulo 0.8s ease 0.5s forwards;
}

.popupAyuda.active h4 {
  -webkit-animation: entradaSubtitulo 0.8s ease 0.5s forwards;
          animation: entradaSubtitulo 0.8s ease 0.5s forwards;
}

.popupAyuda.active .contenedor-suscripcion-inputs {
  -webkit-animation: entradaInputs 1s linear 1s forwards;
          animation: entradaInputs 1s linear 1s forwards;
}

@keyframes entradaTitulo {
  from {
    opacity: 0;
    transform: translateY(-25px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes entradaSubtitulo {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes entradaInputs {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/********************************
            HEADER
*********************************/
.main-header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  background-image: #333;
  gap: 1em;
  transition: 0.7s;
  background-color: #01001A;
  padding: 1em 0.5em;
}

header.scrollfix {
  display: flex;
  position: fixed;
  z-index: 3;
  transition: 0.7s;
  width: 100%;
  background-color: #040326;
  color: #3cb5f6;
}

header .scroll-fix {
  display: none;
  transition: 0.7s all;
}

#menu {
  display: none;
  transition: 0.7s;
  opacity: 0;
}

#menu:checked + .nav-bar {
  transition-delay: 10s display;
  display: block;
}

#menu:checked ~ .search-bar .menu-toggle__label {
  background-color: #01001A;
  width: 50px;
  font-size: 17px;
  color: #fff;
  transition: 0.7s;
}

#menu:checked ~ .search-bar .menu-toggle__pan-arriba {
  transform: rotate(33deg) translate(6px, 7px);
  transition: 0.5s;
  height: 0.4em;
  width: 40px;
}

#menu:checked ~ .search-bar .menu-toggle__pan-abajo {
  transform: rotate(-33deg);
  transition: 0.5s;
  height: 0.4em;
  width: 40px;
}

#menu:checked ~ .search-bar .menu-toggle__medallon {
  display: none;
}

/********************************
            NAV BAR
*********************************/
.nav-bar {
  padding: 0.5em 1em 0.5em 1em;
}
.nav-bar img {
  width: 10em;
  height: 2em;
}
.nav-bar__logo {
  margin-right: auto;
  padding-left: 3em;
}
.nav-bar__nav-list {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  margin-right: 2em;
}
.nav-bar__nav-link {
  width: 10em;
  text-decoration: none;
  display: block;
  padding: 0.8rem 2.5rem;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);
  transition: all 0.4s linear;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  font-family: "Bangers", cursive;
  letter-spacing: 4px;
  background-image: linear-gradient(to right, #01001A 50%, #00bdd8 50%);
  background-size: 200%;
  background-repeat: no-repeat;
  transition: background-position 0.3s ease;
}
.nav-bar__nav-item {
  text-align: center;
  position: relative;
}
.nav-bar__nav-link:hover {
  background-position: right;
  color: #01001A;
}
.nav-bar__nav-link span {
  display: none;
}

/******************************
            LOGO
*******************************/
/******************************
            SEARCH BAR
*******************************/
.search-bar {
  display: flex;
  justify-content: center;
}
.search-bar__form-container {
  /*background-color: #d7e3fc;*/
  display: flex;
  justify-content: flex-end;
  height: 3em;
}
.search-bar__form-search {
  color: #333;
  width: 111em;
  border-top: 2.5px solid #01001A;
  border-left: 2.5px solid #01001A;
  border-bottom: 2.5px solid #01001A;
  border-right: 2.5px solid #fff;
  border-radius: 10px 0px 0px 10px;
  padding: 0 1em;
}
.search-bar__form-submit {
  margin-left: 2.5em;
  background-color: #01001A;
  /* color: #edfafb;*/
  transition: all 0.4s linear;
  border-radius: 3px;
  width: 4.2em;
  cursor: pointer;
}
.search-bar__form-submit:hover {
  background-color: #00bdd8;
  color: #edfafb;
  border: 1px solid #00bdd8;
}
.search-bar___carrito-container {
  text-decoration: none;
}
.search-bar__form-label {
  background-color: #edfafb;
}

/*********************************
            MENU TOGGLE
*********************************/
.menu-toggle {
  display: none;
  background-color: #f5f5f5;
  flex: 0 0 3em;
  position: relative;
  cursor: pointer;
  margin-left: 2px;
}

.menu-toggle__label {
  display: block;
  background-color: #01001A;
  width: 70px;
  height: 100%;
  border: #01001A solid 2.5px;
}

.menu-toggle__pan-arriba,
.menu-toggle__medallon,
.menu-toggle__pan-abajo {
  display: block;
  background-color: #333;
  height: 0.3em;
  position: absolute;
  left: 0.5em;
  right: 0.5em;
  margin: 0 auto;
}

.menu-toggle__pan-arriba {
  top: 1em;
}

.menu-toggle__medallon {
  top: 50%;
  margin-top: -0.15em;
}

.menu-toggle__pan-abajo {
  bottom: 1em;
}

@media (max-width: 1667px) {
  .search-bar__form-search {
    width: 106em;
  }
}
@media (max-width: 1576px) {
  .search-bar__form-search {
    width: 95em;
  }

  .nav-bar > img {
    display: none;
  }
}
@media (max-width: 1400px) {
  .search-bar__form-search {
    width: 88em;
  }

  .logo-container {
    height: 243px;
    top: 36px;
    left: 45px;
  }

  .nav-bar__nav-link {
    width: 9em;
  }
}
@media (max-width: 1323px) {
  .search-bar__form-search {
    width: 82em;
  }

  .logo-container {
    height: 230px;
    top: 40px;
    left: 28px;
  }
}
@media (max-width: 1243px) {
  .search-bar__form-search {
    width: 76em;
  }

  .nav-bar__nav-list {
    margin-right: auto;
  }
}
@media (max-width: 1155px) {
  .search-bar__form-search {
    width: 69em;
  }

  .logo-container {
    height: 214px;
    top: 101px;
    left: 467px;
  }
}
@media (max-width: 1058px) {
  .search-bar__form-search {
    width: 52em;
  }

  .nav-bar {
    padding-right: 23px;
  }

  .nav-bar__nav-list {
    justify-content: flex-end;
  }

  .nav-bar__nav-list a {
    width: 6em;
    padding: 0.8rem 0.5rem;
  }
}
@media (max-width: 855px) {
  #menu:checked + body .main-header {
    height: 20em;
  }

  .menu-toggle {
    display: block;
    transition: 0.2s;
  }

  .logo-container {
    display: flex;
    height: 214px;
    top: 52px;
    left: 60px;
  }

  .nav-bar {
    display: none;
  }

  .nav-bar__nav-list a {
    width: 660px;
  }

  .nav-bar__nav-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .search-bar__form-search {
    width: 40em;
  }

  #logo {
    display: none;
  }
}
@media (max-width: 710px) {
  .search-bar__form-search {
    width: 37em;
  }
}
@media (max-width: 670px) {
  .logo-container {
    display: flex;
    justify-content: center;
    right: 72px;
  }

  .search-bar {
    justify-content: space-between;
  }

  .search-bar__form-container {
    display: none;
  }

  .search-bar__carrito-container {
    justify-content: center;
  }

  #boton-carrito {
    width: 60px;
    height: 3em;
    margin-right: 30px;
  }
}
.svg {
  width: 100%;
  height: 100px;
  bottom: 0;
  overflow: hidden;
}

svg {
  background-color: #f5f5f5;
}

.footer-container {
  background: #333;
  color: #f0ebd8;
  padding: 2em 0.5em;
  text-align: center;
}
.footer-container h1 {
  cursor: default;
  text-align: end;
}
.footer-container__mas-de-nosotros {
  text-align: center;
  width: 33.3%;
}
.footer-container__mas-de-nosotros p {
  padding-right: 2.5em;
  padding-left: 2.5em;
}
.footer-container__redes-sociales {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  width: 33.3%;
}
.footer-container__redes-sociales a:hover {
  color: #F66F58;
}
.footer-container__redes-sociales ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 1.5em;
}
.footer-container__informacion-de-contacto {
  text-align: center;
  width: 33.3%;
}

.footer-logo {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.footer-logo__img {
  width: 5%;
}

.footer-redes {
  color: #f0ebd8;
  text-decoration: none;
  list-style: none;
}
.footer-redes span {
  font-size: 25px;
}

.section-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.section-footer h1 {
  padding-bottom: 30px;
  text-align: center;
}

.footer-container hr {
  margin: 12px;
}

@media (max-width: 620px) {
  .section-footer {
    flex-direction: column;
    align-items: center;
  }

  .section-footer hr {
    width: 80%;
  }

  .section-footer p {
    font-size: 12px;
  }

  .section-footer h1 {
    font-size: 17px;
    margin-top: 1.2em;
  }
}
.section-cards {
  background-color: #cc5577;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23cc5577' width='11' height='11'/%3E%3Crect fill='%23cc567b' x='10' width='11' height='11'/%3E%3Crect fill='%23cc577f' y='10' width='11' height='11'/%3E%3Crect fill='%23cc5982' x='20' width='11' height='11'/%3E%3Crect fill='%23cc5a86' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23cc5c8a' y='20' width='11' height='11'/%3E%3Crect fill='%23cc5d8e' x='30' width='11' height='11'/%3E%3Crect fill='%23cc5f91' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23cb6195' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23cb6299' y='30' width='11' height='11'/%3E%3Crect fill='%23ca649c' x='40' width='11' height='11'/%3E%3Crect fill='%23c966a0' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23c868a3' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23c769a7' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23c66baa' y='40' width='11' height='11'/%3E%3Crect fill='%23c56dae' x='50' width='11' height='11'/%3E%3Crect fill='%23c46fb1' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23c271b4' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23c173b7' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23bf75bb' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23bd77be' y='50' width='11' height='11'/%3E%3Crect fill='%23bc79c1' x='60' width='11' height='11'/%3E%3Crect fill='%23ba7bc4' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23b87dc7' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23b67fc9' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23b481cc' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23b283cf' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23af85d1' x='70' width='11' height='11'/%3E%3Crect fill='%23ad87d4' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23ab89d6' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23a88bd9' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23a68ddb' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23a38fdd' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23a091df' x='80' width='11' height='11'/%3E%3Crect fill='%239e93e1' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%239b95e3' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%239897e5' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%239599e7' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23929be8' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23909dea' x='90' width='11' height='11'/%3E%3Crect fill='%238d9feb' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%238aa1ed' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%2387a3ee' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%2384a4ef' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%2381a6f0' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%237ea8f1' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%237baaf2' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%2378acf3' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%2375adf3' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%2372aff4' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%236fb1f5' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%236cb2f5' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%2369b4f6' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%2367b6f6' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%2364b7f6' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%2362b9f6' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%235fbaf6' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%235dbcf6' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%235bbdf6' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%2359BFF6' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  padding: 5.5em 7.5em 7em 7.5em;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 3.5em;
  /*espaciado entre las tarjetas */
  justify-content: center;
}

#mensaje-producto-agregado {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2em 2em;
  border-radius: 6px;
  background: linear-gradient(145deg, #2a8cae, #32a7cf);
  box-shadow: 5px 5px 10px #2d94b7, -5px -5px 10px #31a4cb;
  color: #f1f2f3;
  z-index: 10;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  transition: 10s box-shadow;
  text-align: center;
  color: #fff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);
}

.cards-titulo {
  color: #fff;
  background: #01001A;
  padding: 5px 51px;
  font-size: 46px;
  line-height: 1.2;
  font-family: "Bangers", cursive;
}

main {
  background-color: #f5f5f5;
}

@media (max-width: 600px) {
  .section-cards {
    padding: 5.5em 0.5em 7em 0.5em;
  }
}
.main-nosotros {
  height: 3000px;
  background-color: #e1e4e5;
}

.container-nosotros-somos {
  height: 400px;
  background: url(../../img/nosotros-imagenes/Quienes-somos.jpg) no-repeat center center fixed;
  background-size: cover;
}
.container-nosotros-somos__titulo {
  color: #FFF;
  background: rgba(51, 51, 51, 0.925);
  padding: 4px 20px;
  font-size: 58px;
  line-height: 1.2;
}
.container-nosotros-somos__descripcion-texto {
  display: flex;
  background-color: #e1e4e5;
  justify-content: center;
  align-items: center;
  height: 280px;
  font-size: 20px;
  text-align: center;
  padding: 1.5em 3em;
}

.container-nosotros-lider {
  height: 400px;
  background: url(../../img/nosotros-imagenes/juegos.jpg) no-repeat center top fixed;
  background-size: cover;
}
.container-nosotros-lider__titulo {
  color: #FFF;
  background: rgba(51, 51, 51, 0.925);
  padding: 4px 20px;
  font-size: 58px;
  line-height: 1.2;
}
.container-nosotros-lider__descripion {
  background-color: #e1e4e5;
}
.container-nosotros-lider__descripcion-texto {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1.5em 3em;
  position: absolute;
  margin-top: 5em;
  color: #333;
  line-height: 2em;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);
}

.container-nosotros-tecnologia {
  height: 700px;
  background: url(../../img/nosotros-imagenes/lider-en-tecnologia.jpg) no-repeat center top fixed;
  background-size: cover;
}
.container-nosotros-tecnologia__titulo {
  color: #FFF;
  background: rgba(51, 51, 51, 0.925);
  padding: 4px 20px;
  font-size: 58px;
  line-height: 1.2;
}
.container-nosotros-tecnologia__descripcion-texto {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  height: 280px;
  font-size: 20px;
  text-align: center;
  padding: 1.5em 3em;
}

.container-nosotros-garantia {
  height: 700px;
  background: url(../../img/nosotros-imagenes/garantia-img.jpg) no-repeat center center local;
  -webkit-backface-visibility: tr;
          backface-visibility: tr;
  background-size: cover;
  opacity: 0.3;
}
.container-nosotros-garantia__titulo {
  color: #FFF;
  background: rgba(51, 51, 51, 0.925);
  padding: 4px 20px;
  font-size: 58px;
  line-height: 1.2;
}
.container-nosotros-garantia__descripcion-texto {
  display: flex;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  height: 280px;
  font-size: 20px;
  text-align: center;
  padding: 1.5em 3em;
}

.formulario-titulo {
  color: #FFF;
  background: rgba(51, 51, 51, 0.925);
  padding: 4px 20px;
  font-size: 58px;
  line-height: 1.2;
}

.formulario__contacto {
  background-color: #59BFF6;
  margin-top: 2em;
}

#formulario-contacto {
  margin: 1em 1em;
}

.container_contacto {
  display: flex;
  justify-content: space-around;
}

.formulario_contacto_inframe {
  margin-right: 2em;
}

@media (max-width: 768px) {
  #formulario-contacto {
    margin: 0 10px;
  }
}
@media (max-width: 1070px) {
  .formulario_contacto_inframe {
    flex-direction: column;
  }
}
.producto-agregado-borrado-actualizado {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 500px;
  padding: 2em 2em;
  height: 200px;
  border-radius: 6px;
  background: #fff;
  box-shadow: 5px 5px 10px #000000, -5px -5px 10px #181818;
  color: #f1f2f3;
  font-size: large;
  font-weight: bold;
  z-index: 3;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  transition: 10s box-shadow;
  text-align: center;
  color: #01001A;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);
}

.contenedor-mensaje {
  background: rgba(0, 0, 0, 0.3);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-items: center;
  justify-content: center;
  display: flex;
  visibility: hidden;
  z-index: 3;
}

.container-alta {
  background-color: #f5f5f5;
  display: flex;
  padding-top: 4.5em;
  gap: 1em;
  margin: 0 4em 8em 4em;
}
.container-alta__handlebars table, .container-alta__handlebars th, .container-alta__handlebars td {
  background-color: #f5f5f5;
  border-collapse: collapse;
  color: #333;
  padding: 5px;
  height: 60px;
  text-align: center;
}
.container-alta__handlebars td:nth-last-child(1n) {
  width: 30px;
}
.container-alta__handlebars td:nth-last-child(3n) {
  width: 150px;
}
.container-alta__handlebars table {
  width: 100%;
}
.container-alta__handlebars #listado-productos {
  width: 100%;
}
.container-alta__handlebars img {
  width: 50px;
  display: block;
  margin: 0 auto;
}
.container-alta__handlebars table, .container-alta__handlebars th, .container-alta__handlebars td {
  background-color: #f5f5f5;
  border: 2.3px solid #01001A;
  border-collapse: collapse;
  color: #333;
  font-weight: bold;
}
.container-alta__handlebars th {
  font-size: 16px;
  color: #f5f5f5;
  background-color: #333;
  border: 1.2px solid #01001A;
  margin-bottom: 2em;
}
.container-alta__handlebars table {
  width: 100%;
}
.container-alta__handlebars #listado-productos {
  width: 100%;
}
.container-alta__handlebars img {
  width: 120px;
  display: block;
  margin: 0 auto;
  height: 100px;
}
.container-alta #drop-area {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 300px;
  margin: 30px auto;
  padding: 20px;
}
.container-alta #foto {
  display: none;
}
.container-alta .button {
  display: inline-block;
  padding: 10px;
  background: #ccc;
  cursor: pointer;
  border: 1px solid #ccc;
}
.container-alta #drop-area.highlight {
  border: 3px dashed purple;
}

.formulario {
  color: #333;
  font-weight: bold;
  font-size: 16px;
  background-color: #f5f5f5;
  width: 420px;
  margin: 0 auto;
  text-align: left;
  /******************************
          MEDIA CELULAR
  ******************************/
}
.formulario div.msg-validation {
  border-radius: 2px;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 420px;
  color: rgb(215, 89, 16);
  background-color: #fff;
  display: none;
  text-align: center;
  font-size: 18px;
}
.formulario label {
  text-align: left;
  display: block;
  margin: 15px 0px 4px 0px;
}
.formulario__boton-actualizar {
  width: 100%;
  height: 50px;
  background-color: #01001A;
  cursor: pointer;
  font-weight: bold;
  color: #f5f5f5;
}
.formulario__boton-borrar {
  width: 100%;
  height: 50px;
  background-color: #333;
  cursor: pointer;
  font-weight: bold;
  color: #f5f5f5;
}
.formulario__datos-personales {
  margin-bottom: 3.5em;
}
.formulario__email {
  text-align: left;
  display: block;
  margin: 15px 0 15px 0px;
}
.formulario__email-input {
  width: 100%;
  height: 2em;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.52);
}
.formulario__email-input:focus {
  background-color: rgba(240, 248, 255, 0.815);
}
.formulario__nombre {
  text-align: left;
  display: block;
  margin: 0px 0 0px 0px;
}
.formulario__input-nombre {
  margin: 0px 0px 0px 0px;
  width: 420px;
  height: 2.5em;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.52);
}
.formulario__input-nombre:focus {
  background-color: #31a4cb;
  color: #01001A;
}
.formulario__nombre-alta {
  text-align: left;
  display: block;
  margin: 15px 0 15px 0px;
}
.formulario__input-nombre-alta {
  width: 420px;
  height: 2em;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.52);
}
.formulario__input-nombre-alta:focus {
  background-color: #31a4cb;
  color: #01001A;
}
.formulario__precio {
  margin: 15px 0 15px 0px;
  text-align: left;
}
.formulario__input-precio {
  width: 50%;
  height: 2em;
  margin-left: 5px;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.52);
}
.formulario__input-precio:focus {
  background-color: #01001A;
}
.formulario__marca {
  text-align: left;
  margin: 15px 0 15px 0px;
}
.formulario__marca-select {
  margin-left: 30px;
  border-radius: 5px;
  width: 15%;
  height: 2em;
  background-color: rgba(240, 248, 255, 0.52);
}
.formulario__marca-select:focus {
  background-color: #01001A;
}
.formulario__foto {
  display: block;
  width: 80%;
  height: 2.5em;
}
.formulario__foto-label {
  text-align: left;
  margin: 15px 0 15px 0px;
}
.formulario__foto-input {
  margin-left: 40px;
}
.formulario__categoria {
  text-align: left;
  margin: 15px 0 15px 0px;
}
.formulario__categoria-select {
  width: 15%;
  height: 2em;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0.52);
}
.formulario__categoria-select:focus {
  background-color: #01001A;
}
.formulario__detalle {
  display: block;
  margin: 15px 0 15px 0px;
}
.formulario__detalle-label {
  text-align: left;
  display: block;
  margin-bottom: 10px;
}
.formulario__detalle-textarea {
  display: block;
  height: 120px;
  width: 98%;
  border-radius: 5px;
  resize: vertical;
  background-color: rgba(240, 248, 255, 0.52);
}
.formulario__detalle-textarea:focus {
  background-color: #01001A;
}
.formulario__stock {
  text-align: center;
  margin: 15px 0 15px 0px;
}
.formulario #formulario__envio {
  text-align: center;
  display: inline;
  margin-left: 9.5em;
  margin-top: 2.5em;
}
.formulario #foto {
  margin-bottom: 2.5em;
}
.formulario__novedades {
  margin: 15px 0 15px 0;
}
.formulario__botones {
  display: block;
  padding: 80px 45px 10px 45px;
  border-radius: 4px;
}
.formulario #boton-agregarAlta {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding-left: 20px;
  margin-left: 12.5em;
  margin-top: 4em;
}
.formulario__botones-submit {
  width: 8em;
  height: 2.5em;
  border: rgba(254, 145, 67, 0.8156862745) 1px solid;
  border-radius: 5px;
  background-color: #edfafb;
  margin-right: 1.5em;
}
.formulario__botones-submit:hover {
  background-color: #fe9143;
  cursor: pointer;
}
.formulario__botones-submit:focus {
  background-color: hsl(20deg, 83%, 63%);
}
.formulario__botones-reset {
  width: 8em;
  border: #1d2d44 1px solid;
  height: 2.5em;
  border-radius: 10px;
  background-color: #edfafb;
  margin-left: 1.5em;
}
.formulario__botones-reset:hover {
  background-color: #fe9143;
  cursor: pointer;
}
@media (max-width: 768px) {
  .formulario {
    margin: 0 0 0 0;
  }
  .formulario__nombre {
    margin-right: 8px;
  }
  .formulario__input-nombre {
    margin: 5px 0;
    width: 100%;
  }
  .formulario__precio {
    margin-right: 8px;
  }
  .formulario__input-precio {
    margin: 5px 0;
    width: 100%;
  }
  .formulario__detalle {
    margin-right: 8px;
  }
  .formulario__detalle-textarea {
    width: 100%;
    height: 7em;
    margin: 5px 0;
  }
  .formulario__marca {
    margin-right: 8px;
  }
  .formulario__marca-select {
    width: 100%;
    height: 2.5em;
    margin: 5px 0;
  }
  .formulario__categoria {
    margin-right: 8px;
  }
  .formulario__categoria-select {
    width: 100%;
    height: 2.5em;
    margin: 5px 0;
  }
  .formulario__stock {
    text-align: center;
  }
}

@media (max-width: 1434px) {
  .container-alta {
    flex-direction: column;
    margin: 0 auto;
  }

  .formulario {
    align-self: center;
  }

  .container-alta__handlebars {
    margin: 20px;
  }
}
@media (max-width: 1100px) {
  .container-alta__handlebars table {
    display: block;
    overflow-x: auto;
    width: 55em;
    height: 55em;
  }
}
@media (max-width: 900px) {
  .container-alta__handlebars table {
    width: 500px;
    margin: 0 auto;
  }
}
@media (max-width: 500px) {
  .container-alta__handlebars > table {
    display: block;
    overflow-x: auto;
    width: 370px;
    height: 55em;
  }
}/*# sourceMappingURL=main.css.map */