// .formulario-titulo {
//     color: #FFF;
//     background: rgba(51, 51, 51, 0.925);
//     padding: 4px 20px;
//     font-size: 58px;
//     line-height: 1.2;
// }

.producto-agregado-borrado-actualizado {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 500px;
    padding: 2em 2em;
    height: 200px;

    border-radius: 6px;
	background: #fff;
    box-shadow:  5px 5px 10px #000000,
                -5px -5px 10px #181818;
    color: #f1f2f3;
    font-size: large;
    font-weight: bold;
    z-index: 3;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    transition: 10s box-shadow;
    text-align: center;
    color: #01001A;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);
}
.contenedor-mensaje {
    background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: hidden;
    z-index: 3;
}

.container-alta {
    background-color: #f5f5f5;
    display: flex;
    //justify-content: space-evenly;
    padding-top: 4.5em;
    gap: 1em;
    margin: 0 4em 8em 4em;


    &__handlebars {
        box-sizing: border-box;
        overflow-x: auto;
        height: 911,78px;

        table, th, td {
            background-color: #f5f5f5;
            border-collapse: collapse;
            color: #333;
            padding: 5px;
            text-align: center;
        }
        td:nth-last-child(1n) {
            width: 30px;
        }
        
        td:nth-last-child(3n) {
            width: 150px;
        }

        th {
            //font-size: 18px;
        }

        table {
            width: 100%;
        }

        #listado-productos {
            width: 86%;
            height: 800px;
        }


        table, th, td {
            background-color: #f5f5f5;
            border: 2.3px solid #01001A;//#fe9143;
            border-collapse: collapse;

            
            color: #333;
            font-weight: bold;
            //font-size: 20px;
        }
        th {
            font-size: 16px;
            color: #f5f5f5;
            background-color: #333;
            border: 1.2px solid #01001A;//#fe9143;
            margin-bottom: 2em;

        }

        table {
            width: 100%;
        }

        img {
            width: 120px;
            display: block;
            margin: 0 auto;
            height: 100px;
        }
    }

    #drop-area {
        border: 2px dashed #ccc;
        border-radius: 20px;
        width: 300px;
        margin: 30px auto;
        padding: 20px;
    }

    #foto {
        display: none;
    }

    .button {
        display: inline-block;
        padding: 10px;
        background: #ccc;
        cursor: pointer;
        border: 1px solid #ccc;
    }

    #drop-area.highlight {
        border: 3px dashed purple;

    }
}


.formulario {
        color: #333;
        font-weight: bold;
        font-size: 16px;
        //padding: 20px 0 50px 0;
        //max-width: 950px;
        background-color: #f5f5f5;
        width: 420px;
        
        margin: 0 auto;
        text-align: left;


        div.msg-validation {
            border-radius: 2px;
            justify-content: center;
            align-items: center;
            align-self: center;
            width: 420px;
            color: rgb(215, 89, 16);
            background-color: #fff;
            display: none;
            text-align: center;
            font-size: 18px;
        }


        label {
            text-align: left;
            display: block;
            margin: 15px 0px 4px 0px;
            
        }

        &__boton-actualizar {
            width: 100%;
            height: 50px;
            background-color: #01001A;
            cursor: pointer;
            font-weight: bold;
            color: #f5f5f5;
        }
        

        &__boton-borrar {
            width: 100%;
            height: 50px;
            background-color: #333;
            cursor: pointer;
            font-weight: bold;
            color: #f5f5f5;
        }
        
        


        &__datos-personales {
            margin-bottom: 3.5em;
        }


        &__email {
            text-align: left;
            display: block;
            margin: 15px 0 15px 0px;
        } 
            &__email-input {
                width: 100%;
                height: 2em;
                border-radius: 5px;
                background-color: rgba(240, 248, 255, 0.52);
            }
            &__email-input:focus {
                background-color: rgba(240, 248, 255, 0.815);
            }

        &__nombre {
            text-align: left;
            display: block;
            margin: 0px 0 0px 0px;
        } 
            &__input-nombre {
                margin: 0px 0px 0px 0px;
                //padding: 15px 10px 15px 10px;
                width: 420px;
                height: 2.5em;
                border-radius: 5px;
                background-color: rgba(240, 248, 255, 0.52);
            }
            &__input-nombre:focus {
                background-color: #31a4cb;
                color: #01001A;
            }

            &__nombre-alta {
                text-align: left;
                display: block;
                margin: 15px 0 15px 0px;
            } 
                &__input-nombre-alta {
                    width: 420px;
                    height: 2em;
                    border-radius: 5px;
                    background-color: rgba(240, 248, 255, 0.52);
                }
                &__input-nombre-alta:focus {
                    background-color: #31a4cb;
                    color: #01001A;
                }
            
        &__precio {
            margin: 15px 0 15px 0px;
            text-align: left;
        }
            &__input-precio {
                width: 50%;
                height: 2em;
                margin-left: 5px;
                border-radius: 5px;
                background-color: rgba(240, 248, 255, 0.52);
            }
            &__input-precio:focus {
                background-color: #01001A;
            }
            &__marca {
                text-align: left;
                margin: 15px 0 15px 0px;
            }
            &__marca-select {
                margin-left: 30px;
                border-radius: 5px;
                width: 15%;
                height: 2em;
                background-color: rgba(240, 248, 255, 0.52);
                
            }
            &__marca-select:focus {
                background-color: #01001A;
            }
            &__foto {
                display: block;
                width: 80%;
                height: 2.5em;
            }
            &__foto-label {
                text-align: left;
                margin: 15px 0 15px 0px;
            }
            &__foto-input {
                margin-left: 40px;

            }

            &__categoria {
                text-align: left;
                margin: 15px 0 15px 0px;
            }
            &__categoria-select{
                width: 15%;
                height: 2em;
                border-radius: 5px;
                background-color: rgba(240, 248, 255, 0.52);
            }
            &__categoria-select:focus {
                background-color: #01001A;
            }
            &__detalle {
                display: block;
                margin: 15px 0 15px 0px;
                
            }
            &__detalle-label {
                text-align: left;
                display: block;
                margin-bottom: 10px;
            }
            &__detalle-textarea {
                display: block;
                height: 120px;
                width: 98%;
                border-radius: 5px;
                resize: vertical; 
                background-color: rgba(240, 248, 255, 0.52);
            }
            &__detalle-textarea:focus {
                background-color: #01001A;
            }
        &__stock {
            text-align: center;
            margin: 15px 0 15px 0px;
            }
        #formulario__envio {
            text-align: center;
            display: inline;
            margin-left: 9.5em;
            margin-top: 2.5em;
            // display: f; hace
            // text-align: center;
            // display: block;
            // margin: 15px 15px 15px 15px;
        }
        #foto {
            margin-bottom: 2.5em;
        }
        &__novedades {
            margin: 15px 0 15px 0;
        }
        &__botones {
            display: block;
            padding: 80px 45px 10px 45px;
            border-radius: 4px;

        }
        #boton-agregarAlta{
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: center;
            padding-left: 20px;
            margin-left: 12.5em;
            margin-top: 4em;
        }
        &__botones-submit {
            width: 8em;
            height: 2.5em;
            border: #fe9143d0 1px solid;
            border-radius: 5px;
            background-color: #edfafb;
            margin-right: 1.5em;
        }
            &__botones-submit:hover {
                background-color: #fe9143;
                cursor: pointer;
            }
            &__botones-submit:focus {
                background-color: hsl(20, 83%, 63%);
            }

        &__botones-reset {
            width: 8em;
            border: #1d2d44 1px solid;
            height: 2.5em;
            border-radius: 10px;
            background-color: #edfafb;
            margin-left: 1.5em;
        }
            &__botones-reset:hover {
                background-color: #fe9143;
                cursor: pointer;
            }

        /******************************
                MEDIA CELULAR
        ******************************/

        @media (max-width: 768px) {
            & {
                margin: 0 0 0 0;
            }
            &__nombre {
                margin-right: 8px;
            }
            &__input-nombre {
                margin: 5px 0;
                width: 100%;
            }
            &__precio {
                margin-right: 8px;
            }
            &__input-precio {
                margin: 5px 0;
                width: 100%;
            }
            &__detalle {
                margin-right: 8px;
            }
            &__detalle-textarea {
                width: 100%;
                height: 7em;
                margin: 5px 0;
            }
            &__marca {
                margin-right: 8px;
            }
            &__marca-select {
                width: 100%;
                height: 2.5em;
                margin: 5px 0;
            }
            &__categoria {
                margin-right: 8px;
            }
            &__categoria-select {
                width: 100%;
                height: 2.5em;
                margin: 5px 0;
            }
            &__stock {
                text-align: center;
            }
        }
    }


@media (max-width: 1434px) {
    .container-alta {
        flex-direction: column;
        margin: 0 auto;
    }
    .formulario {
        align-self: center;
    }
    
    .container-alta__handlebars{
        margin: 20px;
    }
    
}
    
@media (max-width: 1100px) {
    .container-alta__handlebars  table {
        display: block;
        width: 55em;
        height: 55em;
    }
}
    
@media (max-width: 900px) {
    .container-alta__handlebars  table {
        width: 500px;
        margin: 0 auto;
    }
}
@media (max-width: 500px) {
    .container-alta__handlebars > table {
        display: block;
        overflow-x: auto;
        width: 370px;
        height: 55em;
    }
}
