.formulario-titulo {
    color: #FFF;
    background: rgba(51, 51, 51, 0.925);
    padding: 4px 20px;
    font-size: 58px;
    line-height: 1.2;
}



.formulario__contacto {
    background-color: #59BFF6;
    margin-top: 2em;
}
#formulario-contacto {
    margin: 1em 1em ;
}
.container_contacto {
    display: flex;
    justify-content: space-around;
}
.formulario_contacto_inframe {
    margin-right: 2em;
}
@media (max-width: 768px) {
    #formulario-contacto {
        margin: 0 10px;
    }
}
@media (max-width: 1070px) {
    .formulario_contacto_inframe {
        flex-direction: column;
    }
}
