.section-cards {
    background-color: #f5f5f5;
    padding: 5.5em 7.5em 7em 7.5em;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5em; /*espaciado entre las tarjetas */
    justify-content: center;
}
#mensaje-producto-agregado {
    display: none;
    justify-content: center;
    align-items: center;
    width: 20em;
    margin: 0 auto;
    border: solid 2px #33aad2;
    padding: 2em 2em;

    border-radius: 21px;
    background: linear-gradient(145deg, #2a8cae, #32a7cf);
    box-shadow:  5px 5px 10px #2d94b7,
                -5px -5px 10px #31a4cb;   
    color: #f1f2f3;
    z-index: 3;
    left: 543px;
    top: 595px;
    position: fixed;
    transition: 10s box-shadow;
}


@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
.cards-titulo {
    color: #fff;
    background: #59BFF6;
    padding: 5px 51px;
    font-size: 46px;
    line-height: 1.2;
    font-family: 'Bangers', cursive;

}

main {
    background-color: #f5f5f5;
}


@media (max-width: 600px) {
    .section-cards {
        padding: 5.5em 0.5em 7em 0.5em;
    }
}


