
.section-cards {

    background-color: #cc5577;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 100 60'%3E%3Cg %3E%3Crect fill='%23cc5577' width='11' height='11'/%3E%3Crect fill='%23cc567b' x='10' width='11' height='11'/%3E%3Crect fill='%23cc577f' y='10' width='11' height='11'/%3E%3Crect fill='%23cc5982' x='20' width='11' height='11'/%3E%3Crect fill='%23cc5a86' x='10' y='10' width='11' height='11'/%3E%3Crect fill='%23cc5c8a' y='20' width='11' height='11'/%3E%3Crect fill='%23cc5d8e' x='30' width='11' height='11'/%3E%3Crect fill='%23cc5f91' x='20' y='10' width='11' height='11'/%3E%3Crect fill='%23cb6195' x='10' y='20' width='11' height='11'/%3E%3Crect fill='%23cb6299' y='30' width='11' height='11'/%3E%3Crect fill='%23ca649c' x='40' width='11' height='11'/%3E%3Crect fill='%23c966a0' x='30' y='10' width='11' height='11'/%3E%3Crect fill='%23c868a3' x='20' y='20' width='11' height='11'/%3E%3Crect fill='%23c769a7' x='10' y='30' width='11' height='11'/%3E%3Crect fill='%23c66baa' y='40' width='11' height='11'/%3E%3Crect fill='%23c56dae' x='50' width='11' height='11'/%3E%3Crect fill='%23c46fb1' x='40' y='10' width='11' height='11'/%3E%3Crect fill='%23c271b4' x='30' y='20' width='11' height='11'/%3E%3Crect fill='%23c173b7' x='20' y='30' width='11' height='11'/%3E%3Crect fill='%23bf75bb' x='10' y='40' width='11' height='11'/%3E%3Crect fill='%23bd77be' y='50' width='11' height='11'/%3E%3Crect fill='%23bc79c1' x='60' width='11' height='11'/%3E%3Crect fill='%23ba7bc4' x='50' y='10' width='11' height='11'/%3E%3Crect fill='%23b87dc7' x='40' y='20' width='11' height='11'/%3E%3Crect fill='%23b67fc9' x='30' y='30' width='11' height='11'/%3E%3Crect fill='%23b481cc' x='20' y='40' width='11' height='11'/%3E%3Crect fill='%23b283cf' x='10' y='50' width='11' height='11'/%3E%3Crect fill='%23af85d1' x='70' width='11' height='11'/%3E%3Crect fill='%23ad87d4' x='60' y='10' width='11' height='11'/%3E%3Crect fill='%23ab89d6' x='50' y='20' width='11' height='11'/%3E%3Crect fill='%23a88bd9' x='40' y='30' width='11' height='11'/%3E%3Crect fill='%23a68ddb' x='30' y='40' width='11' height='11'/%3E%3Crect fill='%23a38fdd' x='20' y='50' width='11' height='11'/%3E%3Crect fill='%23a091df' x='80' width='11' height='11'/%3E%3Crect fill='%239e93e1' x='70' y='10' width='11' height='11'/%3E%3Crect fill='%239b95e3' x='60' y='20' width='11' height='11'/%3E%3Crect fill='%239897e5' x='50' y='30' width='11' height='11'/%3E%3Crect fill='%239599e7' x='40' y='40' width='11' height='11'/%3E%3Crect fill='%23929be8' x='30' y='50' width='11' height='11'/%3E%3Crect fill='%23909dea' x='90' width='11' height='11'/%3E%3Crect fill='%238d9feb' x='80' y='10' width='11' height='11'/%3E%3Crect fill='%238aa1ed' x='70' y='20' width='11' height='11'/%3E%3Crect fill='%2387a3ee' x='60' y='30' width='11' height='11'/%3E%3Crect fill='%2384a4ef' x='50' y='40' width='11' height='11'/%3E%3Crect fill='%2381a6f0' x='40' y='50' width='11' height='11'/%3E%3Crect fill='%237ea8f1' x='90' y='10' width='11' height='11'/%3E%3Crect fill='%237baaf2' x='80' y='20' width='11' height='11'/%3E%3Crect fill='%2378acf3' x='70' y='30' width='11' height='11'/%3E%3Crect fill='%2375adf3' x='60' y='40' width='11' height='11'/%3E%3Crect fill='%2372aff4' x='50' y='50' width='11' height='11'/%3E%3Crect fill='%236fb1f5' x='90' y='20' width='11' height='11'/%3E%3Crect fill='%236cb2f5' x='80' y='30' width='11' height='11'/%3E%3Crect fill='%2369b4f6' x='70' y='40' width='11' height='11'/%3E%3Crect fill='%2367b6f6' x='60' y='50' width='11' height='11'/%3E%3Crect fill='%2364b7f6' x='90' y='30' width='11' height='11'/%3E%3Crect fill='%2362b9f6' x='80' y='40' width='11' height='11'/%3E%3Crect fill='%235fbaf6' x='70' y='50' width='11' height='11'/%3E%3Crect fill='%235dbcf6' x='90' y='40' width='11' height='11'/%3E%3Crect fill='%235bbdf6' x='80' y='50' width='11' height='11'/%3E%3Crect fill='%2359BFF6' x='90' y='50' width='11' height='11'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    padding: 5.5em 7.5em 7em 7.5em;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 3.5em; /*espaciado entre las tarjetas */
    justify-content: center;
}
#mensaje-producto-agregado {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em 2em;

    border-radius: 6px;
    background: linear-gradient(145deg, #2a8cae, #32a7cf);
    box-shadow:  5px 5px 10px #2d94b7,
                -5px -5px 10px #31a4cb;
    color: #f1f2f3;
    z-index: 10;
    right: 0;
    left: 0;
    bottom: 0;
    top: 0;
    position: fixed;
    transition: 10s box-shadow;
    text-align: center;
    color: #fff;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.103);

}


@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
.cards-titulo {
    color: #fff;
    background: #01001A;
    padding: 5px 51px;
    font-size: 46px;
    line-height: 1.2;
    font-family: 'Bangers', cursive;

}

main {
    background-color: #f5f5f5;
}


@media (max-width: 600px) {
    .section-cards {
        padding: 5.5em 0.5em 7em 0.5em;
    }
}
