.main-nosotros {
    height: 3000px;
    background-color: #e1e4e5;
}

.nosotros {
    margin-top: 4.5em;
}

.container-nosotros-somos {
    height: 400px;
    background: url(../../img/nosotros-imagenes/Quienes-somos.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &__titulo {
        color: #FFF;
        background: rgba(51, 51, 51, 0.925);
        padding: 4px 20px;
        font-size: 58px;
        line-height: 1.2;
    }
    &__descripcion-texto {
        display: flex;
        background-color: #e1e4e5;
        justify-content: center;
        align-items: center;
        height: 280px;
        font-size: 20px;
        text-align: center;
        padding: 1.5em 3em;
    }
}

.container-nosotros-lider {
    height: 400px;
    background: url(../../img/nosotros-imagenes/juegos.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &__titulo {
        color: #FFF;
        background: rgba(51, 51, 51, 0.925);
        padding: 4px 20px;
        font-size: 58px;
        line-height: 1.2;
    }
    &__descripion {
        background-color: #e1e4e5;
    }

    &__descripcion-texto {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 280px;
        font-size: 20px;
        text-align: center;
        padding: 1.5em 3em;
    }
}

.container-nosotros-tecnologia {
    height: 400px;
    background: url(../../img/nosotros-imagenes/lider-en-tecnologia.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &__titulo {
        color: #FFF;
        background: rgba(51, 51, 51, 0.925);
        padding: 4px 20px;
        font-size: 58px;
        line-height: 1.2;
    }
    &__descripcion-texto {
        display: flex;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        height: 280px;
        font-size: 20px;
        text-align: center;
        padding: 1.5em 3em;
    }
}
.container-nosotros-garantia {
    height: 400px;
    background: url(../../img/nosotros-imagenes/garantia-img.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    &__titulo {
        color: #FFF;
        background: rgba(51, 51, 51, 0.925);
        padding: 4px 20px;
        font-size: 58px;
        line-height: 1.2;
    }
    &__descripcion-texto {
        display: flex;
        background-color: #fff;
        justify-content: center;
        align-items: center;
        height: 280px;
        font-size: 20px;
        text-align: center;
        padding: 1.5em 3em;
    }
}