.container-medios {
    display: flex;
    justify-content: center;
    background-color: #59BFF6;
    color: #333;
    padding: 1.5em 0 1.5em 0;
    height: 300px;



    &__imagen {
        width: 50px;
        height: 50px;
        margin-bottom: 1em;
    }
    &__pago, 
    &__envio,
    &__seguridad {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 33%;
    }
    // &__pago:hover, 
    // &__envio:hover,
    // &__seguridad:hover {
    //     transition: 400ms all;
    //     transform: scale(1.08) rotate(0deg);
    // }
    
}
.container-medios span {
    padding: 3em;
    margin: 0 auto;
}
.container-medios img {
    color: #fff;
}
.container-medios h2 {
    padding: 1em 0;
}


@media (max-width: 960px) {
    .container-medios {
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-self: center;
        gap: 2em;
        background-color: #fff;
        color: #333;
        align-items: center;
        height: 800px;
    }
    .container-medios__pago, .container-medios__envio, .container-medios__seguridad {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 80%;
    }

    .container-medios__pago:hover, 
    .container-medios__envio:hover, 
    .container-medios__seguridad:hover {
        transition: 400ms all;
        transform: none;
    }
}